#p1 {
    color: blue;
}

#p2 {
    color: aqua;
}

#p3 {
    color: chartreuse;
}

#p4 {
    color: darkorange;
}

#p5 {
    color: fuchsia;
}

#special {
    color: blueviolet;
}

#p7 {
    color: orange;
}

#p8 {
    color: gold;
}

#p9 {
    color: hotpink;
}

#p10 {
    color: burlywood;
}

