#p1 {
    color: blue;
}

#p2 {
    color: green;
}

#p3 {
    color: black;
}

#p4 {
    color: red;
}

#p5 {
    color: aqua;
}

#p6 {
    color: chartreuse;
}

#p7 {
    color: chocolate;
}

#p8 {
    color: darkblue;
}

#p9 {
    color: orange;
}

#p10 {
    color: orangered;
}