.dice{
    border: 2px red solid;
    border-radius: 25px;
    background-color: lightgray;
    width: 100px;
    height: 100px;
    margin: 20px;
    display: flex;
}

#d1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#d2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dot{
    width: 10px;
    height: 10px;
    border: 1px red solid;
    background-color: red;
    border-radius: 10px;
}


